# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

certs/
Migrations/
*.Development.json

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependencies
node_modules/
jspm_packages/
web_modules/
bower_components/

# Build artifacts
build/
dist/
.next/
out/
.nuxt/
.output/

# Cache & temp files
lib-cov
.grunt
.cache
.parcel-cache
.temp
.vuepress/dist
.vitepress/dist
.vitepress/cache
.docusaurus
.fusebox/
.dynamodb/
.firebase/
.tern-port
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# npm/yarn
.npm
.pnpm-store
.pnp
.pnp.js
.yarn-integrity
.lock-wscript

# ESLint & Stylelint
.eslintcache
.stylelintcache

# REPL history
.node_repl_history

# Package output
*.tgz

# dotenv files
.env
.env.*
!.env.example

# VSCode testing
.vscode-test

# === .NET PROJECT FILES ===

# Visual Studio
.vs/
.vscode/
.vscode-remote/

# Build results
bin/
obj/
Debug/
Release/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.properties

# Visual Studio cache/options
.vs/

# Rider
.idea/
.idea_modules/
*.sln.iml
*.sln.rider

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/NuGet.Config
.nuget/NuGet.exe
.nuget/packages.config

# Test Results
TestResults/
*.trx
*.coverage

# Misc
*.DS_Store
*.pem
.vercel/

# Serverless
.serverless/

# Yarn v3
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*